## Forwards Data Preprocessing

This notebook performs data preprocessing on historical data for forwards in fantasy football.

It includes data loading, cleaning, feature engineering, and outlier removal.

**Contents:**
1. Data Loading
2. Missing Value Handling
3. Data Type Conversion
4. Feature Engineering
5. Scaling
6. Outlier Removal
7. Data Export

In [7]:
# necessary libraries
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

1. Data Loading

In [8]:
# Load historical data for midfielders
historical_data = pd.read_csv('../data/cleaned/forward/forward_cleaned.csv')

# Display initial data sample for midfielders
display(historical_data.head())

,season_name,element_code,start_cost,end_cost,total_points,minutes,goals_scored,assists,clean_sheets,goals_conceded,...,ict_index,starts,expected_goals,expected_assists,expected_goal_involvements,expected_goals_conceded,id,first_name,second_name,unique_id
0,2020/21,245824,70,69,13,305,1,0,1,2,...,22.0,0,0.00,0.00,0.00,0.00,258,Carlos Vinícius,Alves Morais,245824_2020/21
1,2022/23,245824,55,54,72,1098,5,2,1,20,...,73.1,11,3.04,0.72,3.76,24.80,258,Carlos Vinícius,Alves Morais,245824_2022/23
2,2023/24,245824,50,45,22,306,2,0,0,5,...,28.2,2,1.59,0.11,1.70,4.50,258,Carlos Vinícius,Alves Morais,245824_2023/24
3,2023/24,575034,45,45,3,13,0,0,0,0,...,0.2,0,0.00,0.00,0.00,0.32,648,Ethan,Wheatley,575034_2023/24
4,2021/22,216646,60,57,92,1268,7,2,3,22,...,87.6,0,0.00,0.00,0.00,0.00,110,Yoane,Wissa,216646_2021/22

2. Missing Value Handling

In [9]:
# Check for NaN and missing values
print("\nColumns with NaN or missing values:")
print(historical_data.isnull().sum()[historical_data.isnull().sum() > 0])

# Fill NaN and missing values with 0
historical_data = historical_data.fillna(0)

# Verify NaN and missing values have been filled
print("\nRemaining NaN or missing values after filling:")
print(historical_data.isnull().sum()[historical_data.isnull().sum() > 0])

# Display the first few rows to verify the changes
print("\nFirst few rows after filling NaN and missing values:")
print(historical_data.head())

# Additional check for any remaining non-numeric values that might be considered as missing
non_numeric_cols = historical_data.select_dtypes(exclude=[np.number]).columns
for col in non_numeric_cols:
    if historical_data[col].dtype == 'object':
        print(f"\nUnique values in {col} column:")
        print(historical_data[col].unique())
        # Replace empty strings or other non-numeric placeholders with 0
        historical_data[col] = historical_data[col].replace(['', 'N/A', 'None', '-'], 0)

print("\nDataFrame info after handling all types of missing values:")
historical_data.info()


# Display the first few rows to verify the changes
print("\nFirst few rows of the updated DataFrame:")
print(historical_data.head())

Columns with NaN or missing values:
Series([], dtype: int64)

Remaining NaN or missing values after filling:
Series([], dtype: int64)

First few rows after filling NaN and missing values:
  season_name  element_code  start_cost  end_cost  total_points  minutes  \
0     2020/21        245824          70        69            13      305
1     2022/23        245824          55        54            72     1098
2     2023/24        245824          50        45            22      306
3     2023/24        575034          45        45             3       13
4     2021/22        216646          60        57            92     1268

   goals_scored  assists  clean_sheets  goals_conceded  ...  ict_index  \
0             1        0             1               2  ...       22.0
1             5        2             1              20  ...       73.1
2             2        0             0               5  ...       28.2
3             0        0             0               0  ...        0.2
4             7        2             3              22  ...       87.6

   starts  expected_goals  expected_assists  expected_goal_involvements  \
0       0            0.00              0.00                        0.00
1      11            3.04              0.72                        3.76
2       2            1.59              0.11                        1.70
3       0            0.00              0.00                        0.00
4       0            0.00              0.00                        0.00

   expected_goals_conceded   id       first_name   second_name       unique_id
0                     0.00  258  Carlos Vinícius  Alves Morais  245824_2020/21
1                    24.80  258  Carlos Vinícius  Alves Morais  245824_2022/23
2                     4.50  258  Carlos Vinícius  Alves Morais  245824_2023/24
3                     0.32  648            Ethan      Wheatley  575034_2023/24
4                     0.00  110            Yoane         Wissa  216646_2021/22

[5 rows x 31 columns]

Unique values in season_name column:
['2020/21' '2022/23' '2023/24' '2021/22' '2014/15' '2015/16' '2016/17'
 '2017/18' '2018/19' '2019/20' '2012/13' '2011/12' '2013/14' '2008/09'
 '2009/10' '2010/11']

Unique values in first_name column:
['Carlos Vinícius' 'Ethan' 'Yoane' 'Mark' 'Jamie' 'Dane' 'George'
 'João Pedro' 'Leon' 'Patson' 'Freddie' 'Paul' 'Darwin' 'Michail' 'Jhon'
 'Eddie' 'Alejo' 'David Datro' 'Jean-Philippe' 'Alexander'
 'Deivid Washington' 'Odsonne' 'Kai' 'Ollie' 'Enes' 'Neal' 'Rasmus'
 'Romelu' 'Gabriel' 'Danny' 'Callum' 'Saša' 'Matheus' 'Iliman' 'Julián'
 'Norberto Bercique' 'Daniel' 'Dominic' 'Erling' 'Deniz' 'Nicolas'
 'William' 'Nathan' 'Armando' 'Taiwo' 'Emmanuel' 'Fábio' 'Youssef' 'Tom'
 'Rodrigo' 'Raúl' 'Richarlison' 'Sékou' 'Ivan' 'Jay' 'Cameron' 'Evan'
 'Chris' 'Cody' 'Adam' 'Liam' 'Hwang']

Unique values in second_name column:
['Alves Morais' 'Wheatley' 'Wissa' 'O’Mahony' 'Vardy' 'Scarlett' 'Hirst'
 'Junqueira de Jesus' 'Chiwome' 'Daka' 'Ladapo' 'Onuachu' 'Núñez Ribeiro'
 'Antonio' 'Durán' 'Nketiah' 'Véliz' 'Fofana' 'Mateta' 'Isak'
 'de Souza Eugênio' 'Edouard' 'Havertz' 'Watkins' 'Ünal' 'Maupay'
 'Højlund' 'Lukaku Bolingoli' 'Fernando de Jesus' 'Welbeck' 'Wilson'
 'Kalajdžić' 'Santos Carneiro Da Cunha' 'Ndiaye' 'Álvarez'
 'Gomes Betuncal' 'Jebbison' 'Solanke-Mitchell' 'Haaland' 'Undav'
 'Jackson' 'Osula' 'Calvert-Lewin' 'Fraser' 'Broja' 'Awoniyi' 'Dennis'
 'Silva' 'Ramalho Chermiti' 'Cannon' 'Ings' 'Muniz Carvalho' 'Jiménez'
 'de Andrade' 'Mara' 'Toney' 'Stansfield' 'Archer' 'Ferguson' 'Wood'
 'Gakpo' 'Armstrong' 'Delap' 'Ui-jo']

Unique values in unique_id column:
['245824_2020/21' '245824_2022/23' '245824_2023/24' '575034_2023/24'
 '216646_2021/22' '216646_2022/23' '216646_2023/24' '574402_2023/24'
 '101668_2014/15' '101668_2015/16' '101668_2016/17' '101668_2017/18'
 '101668_2018/19' '101668_2019/20' '101668_2020/21' '101668_2021/22'
 '101668_2022/23' '490145_2020/21' '490145_2021/22' '490145_2022/23'
 '490145_2023/24' '222625_2019/20' '475168_2019/20' '475168_2021/22'
 '475168_2023/24' '589507_2023/24' '245419_2021/22' '245419_2022/23'
 '94926_2016/17' '94926_2017/18' '147611_2022/23' '447203_2022/23'
 '447203_2023/24' '57531_2012/13' '57531_2015/16' '57531_2016/17'
 '57531_2017/18' '57531_2018/19' '57531_2019/20' '57531_2020/21'
 '57531_2021/22' '57531_2022/23' '57531_2023/24' '476344_2022/23'
 '476344_2023/24' '205533_2017/18' '205533_2018/19' '205533_2019/20'
 '205533_2020/21' '205533_2021/22' '205533_2022/23' '205533_2023/24'
 '536908_2023/24' '520295_2022/23' '520295_2023/24' '231747_2020/21'
 '231747_2021/22' '231747_2022/23' '231747_2023/24' '219168_2022/23'
 '219168_2023/24' '617054_2023/24' '199670_2021/22' '199670_2022/23'
 '199670_2023/24' '219847_2020/21' '219847_2021/22' '219847_2022/23'
 '219847_2023/24' '178301_2020/21' '178301_2021/22' '178301_2022/23'
 '178301_2023/24' '168636_2023/24' '115382_2019/20' '115382_2020/21'
 '115382_2021/22' '115382_2022/23' '115382_2023/24' '497894_2023/24'
 '66749_2011/12' '66749_2012/13' '66749_2013/14' '66749_2014/15'
 '66749_2015/16' '66749_2016/17' '66749_2017/18' '66749_2018/19'
 '66749_2019/20' '66749_2021/22' '66749_2023/24' '205651_2016/17'
 '205651_2017/18' '205651_2018/19' '205651_2019/20' '205651_2020/21'
 '205651_2021/22' '205651_2022/23' '205651_2023/24' '50175_2008/09'
 '50175_2009/10' '50175_2010/11' '50175_2011/12' '50175_2012/13'
 '50175_2013/14' '50175_2014/15' '50175_2015/16' '50175_2016/17'
 '50175_2017/18' '50175_2018/19' '50175_2019/20' '50175_2020/21'
 '50175_2021/22' '50175_2022/23' '50175_2023/24' '75115_2015/16'
 '75115_2016/17' '75115_2017/18' '75115_2018/19' '75115_2019/20'
 '75115_2020/21' '75115_2021/22' '75115_2022/23' '75115_2023/24'
 '429414_2022/23' '429414_2023/24' '430871_2022/23' '430871_2023/24'
 '440993_2020/21' '440993_2023/24' '461358_2022/23' '461358_2023/24'
 '486385_2023/24' '523700_2020/21' '523700_2023/24' '154566_2014/15'
 '154566_2015/16' '154566_2016/17' '154566_2017/18' '154566_2018/19'
 '154566_2019/20' '154566_2022/23' '154566_2023/24' '223094_2022/23'
 '223094_2023/24' '450434_2022/23' '450434_2023/24' '517052_2023/24'
 '538207_2020/21' '538207_2023/24' '177815_2016/17' '177815_2017/18'
 '177815_2018/19' '177815_2019/20' '177815_2020/21' '177815_2021/22'
 '177815_2022/23' '177815_2023/24' '531363_2022/23' '531363_2023/24'
 '440323_2019/20' '440323_2021/22' '440323_2022/23' '440323_2023/24'
 '210156_2022/23' '210156_2023/24' '230251_2021/22' '230251_2022/23'
 '230251_2023/24' '449988_2020/21' '449988_2021/22' '449988_2022/23'
 '449988_2023/24' '491012_2023/24' '461416_2022/23' '461416_2023/24'
 '84939_2014/15' '84939_2015/16' '84939_2016/17' '84939_2017/18'
 '84939_2018/19' '84939_2019/20' '84939_2020/21' '84939_2021/22'
 '84939_2022/23' '84939_2023/24' '244042_2022/23' '244042_2023/24'
 '102057_2018/19' '102057_2019/20' '102057_2020/21' '102057_2021/22'
 '102057_2022/23' '102057_2023/24' '212319_2017/18' '212319_2018/19'
 '212319_2019/20' '212319_2020/21' '212319_2021/22' '212319_2022/23'
 '212319_2023/24' '476888_2022/23' '144485_2015/16' '144485_2021/22'
 '144485_2022/23' '144485_2023/24' '490146_2022/23' '490146_2023/24'
 '433979_2021/22' '433979_2022/23' '433979_2023/24' '487117_2021/22'
 '487117_2022/23' '487117_2023/24' '60689_2008/09' '60689_2010/11'
 '60689_2014/15' '60689_2017/18' '60689_2018/19' '60689_2019/20'
 '60689_2020/21' '60689_2021/22' '60689_2022/23' '60689_2023/24'
 '243298_2022/23' '243298_2023/24' '155511_2013/14' '155511_2014/15'
 '155511_2015/16' '155511_2021/22' '155511_2022/23' '463034_2020/21'
 '463034_2021/22' '463034_2022/23' '201440_2023/24']

DataFrame info after handling all types of missing values:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235 entries, 0 to 234
Data columns (total 31 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   season_name                 235 non-null    object
 1   element_code                235 non-null    int64
 2   start_cost                  235 non-null    int64
 3   end_cost                    235 non-null    int64
 4   total_points                235 non-null    int64
 5   minutes                     235 non-null    int64
 6   goals_scored                235 non-null    int64
 7   assists                     235 non-null    int64
 8   clean_sheets                235 non-null    int64
 9   goals_conceded              235 non-null    int64
 10  own_goals                   235 non-null    int64
 11  penalties_saved             235 non-null    int64
 12  penalties_missed            235 non-null    int64
 13  yellow_cards                235 non-null    int64
 14  red_cards                   235 non-null    int64
 15  saves                       235 non-null    int64
 16  bonus                       235 non-null    int64
 17  bps                         235 non-null    int64
 18  influence                   235 non-null    float64
 19  creativity                  235 non-null    float64
 20  threat                      235 non-null    float64
 21  ict_index                   235 non-null    float64
 22  starts                      235 non-null    int64
 23  expected_goals              235 non-null    float64
 24  expected_assists            235 non-null    float64
 25  expected_goal_involvements  235 non-null    float64
 26  expected_goals_conceded     235 non-null    float64
 27  id                          235 non-null    int64
 28  first_name                  235 non-null    object
 29  second_name                 235 non-null    object
 30  unique_id                   235 non-null    object
dtypes: float64(8), int64(19), object(4)
memory usage: 57.0+ KB

First few rows of the updated DataFrame:
  season_name  element_code  start_cost  end_cost  total_points  minutes  \
0     2020/21        245824          70        69            13      305
1     2022/23        245824          55        54            72     1098
2     2023/24        245824          50        45            22      306
3     2023/24        575034          45        45             3       13
4     2021/22        216646          60        57            92     1268

   goals_scored  assists  clean_sheets  goals_conceded  ...  ict_index  \
0             1        0             1               2  ...       22.0
1             5        2             1              20  ...       73.1
2             2        0             0               5  ...       28.2
3             0        0             0               0  ...        0.2
4             7        2             3              22  ...       87.6

   starts  expected_goals  expected_assists  expected_goal_involvements  \
0       0            0.00              0.00                        0.00
1      11            3.04              0.72                        3.76
2       2            1.59              0.11                        1.70
3       0            0.00              0.00                        0.00
4       0            0.00              0.00                        0.00

   expected_goals_conceded   id       first_name   second_name       unique_id
0                     0.00  258  Carlos Vinícius  Alves Morais  245824_2020/21
1                    24.80  258  Carlos Vinícius  Alves Morais  245824_2022/23
2                     4.50  258  Carlos Vinícius  Alves Morais  245824_2023/24
3                     0.32  648            Ethan      Wheatley  575034_2023/24
4                     0.00  110            Yoane         Wissa  216646_2021/22

[5 rows x 31 columns]

3. Data Type Conversion

In [10]:
historical_data.dtypes

season_name                    object
element_code                    int64
start_cost                      int64
end_cost                        int64
total_points                    int64
minutes                         int64
goals_scored                    int64
assists                         int64
clean_sheets                    int64
goals_conceded                  int64
own_goals                       int64
penalties_saved                 int64
penalties_missed                int64
yellow_cards                    int64
red_cards                       int64
saves                           int64
bonus                           int64
bps                             int64
influence                     float64
creativity                    float64
threat                        float64
ict_index                     float64
starts                          int64
expected_goals                float64
expected_assists              float64
expected_goal_involvements    float64
expected_goals_conceded       float64
id                              int64
first_name                     object
second_name                    object
unique_id                      object
dtype: object

In [11]:
# Ensure numerical columns are correctly typed
historical_data['end_cost'] = historical_data['end_cost'].astype(float) / 10  # Convert to float and scale cost
historical_data['start_cost'] = historical_data['start_cost'].astype(float) / 10  # Convert to float and scale cost

4. Feature Engineering

In [12]:
# Convert categorical columns to category types
historical_data['position'] = 'FWD'  # All players are forwards

# Create additional features
historical_data['points_per_game'] = historical_data['total_points'] / historical_data['minutes'].replace(0, np.nan)
historical_data['value_for_money'] = historical_data['total_points'] / historical_data['end_cost']

# Scale features if necessary (example using min-max scaling)
scaler = MinMaxScaler()
historical_data[['scaled_cost', 'scaled_points']] = scaler.fit_transform(historical_data[['end_cost', 'total_points']])

# Identify outliers using IQR method
Q1 = historical_data['total_points'].quantile(0.25)
Q3 = historical_data['total_points'].quantile(0.75)
IQR = Q3 - Q1

# Define lower and upper bounds for acceptable range
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Filter out outliers
historical_data = historical_data[(historical_data['total_points'] >= lower_bound) & (historical_data['total_points'] <= upper_bound)]

# Save the cleaned and processed historical data
historical_data.to_csv('../data/processed/forwards_data_processed.csv', index=False)
print("Processed historical data for forwards saved successfully!")

Processed historical data for forwards saved successfully!

In [13]:
historical_data.columns

Index(['season_name', 'element_code', 'start_cost', 'end_cost', 'total_points',
       'minutes', 'goals_scored', 'assists', 'clean_sheets', 'goals_conceded',
       'own_goals', 'penalties_saved', 'penalties_missed', 'yellow_cards',
       'red_cards', 'saves', 'bonus', 'bps', 'influence', 'creativity',
       'threat', 'ict_index', 'starts', 'expected_goals', 'expected_assists',
       'expected_goal_involvements', 'expected_goals_conceded', 'id',
       'first_name', 'second_name', 'unique_id', 'position', 'points_per_game',
       'value_for_money', 'scaled_cost', 'scaled_points'],
      dtype='object')