In [4]:
import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error, r2_score

In [5]:
fpl_forwards = pd.read_csv('../data/processed/epl_forwards_predictions.csv')
sorare_forwards = pd.read_csv('../sorare/sorare_data/predictions/sorare_forwards_predictions.csv')

print(fpl_forwards.columns)
print(sorare_forwards.columns)

fpl_forwards = fpl_forwards.rename(columns={'first_name_forwards': 'First_Name', 'second_name_forwards': 'Last_Name', 'epl_predictions':'Predicted_Points'})
fpl_forwards_filtered = fpl_forwards[['id', 'First_Name','Last_Name', 'Predicted_Points']]

sorare_forwards_filtered = sorare_forwards[['First_Name','Last_Name', 'So_5_Scores_9', 'sorare_predictions']]

print(fpl_forwards.shape)
print(sorare_forwards.shape)

print("------------------------")

print(fpl_forwards_filtered.shape)
print(sorare_forwards_filtered.shape)

Index(['season_name', 'id', 'first_name_forwards', 'second_name_forwards',
       'team', 'epl_predictions'],
      dtype='object')
Index(['Display_Name', 'First_Name', 'Last_Name', 'Player_Number', 'Position',
       'Current_Club', 'So_5_Scores_9', 'sorare_xgb_predictions',
       'sorare_lgbm_predictions', 'sorare_elastic_predictions',
       'sorare_predictions'],
      dtype='object')
(56, 6)
(121, 11)
------------------------
(56, 4)
(121, 4)

In [6]:
forwards = pd.merge(sorare_forwards_filtered, fpl_forwards_filtered, on=['First_Name', 'Last_Name'] )

print(forwards.shape)

forwards['Weighted_BOR3_Score'] = (forwards['sorare_predictions'] * 0.75) + (forwards['Predicted_Points'] * 0.25)

(27, 6)

In [7]:
forwards = forwards.sort_values('Weighted_BOR3_Score', ascending=False)

forwards.to_csv('../data/predictions/weighted_bor3_forwards.csv')
forwards

,First_Name,Last_Name,So_5_Scores_9,sorare_predictions,id,Predicted_Points,Weighted_BOR3_Score
12,Erling,Haaland,100.000000,78.773232,13,80.296043,79.153935
15,Jean-Philippe,Mateta,100.000000,73.734025,7,58.718251,69.980081
26,Yoane,Wissa,86.200000,67.006511,4,48.496226,62.378940
0,Alexander,Isak,60.000000,52.220358,15,64.412974,55.268512
18,Nicolas,Jackson,60.000000,51.657605,6,63.505574,54.619597
21,Rasmus,Højlund,72.700000,57.541415,14,40.911490,53.383934
5,Cody,Gakpo,51.300000,55.632887,12,37.561751,51.115103
4,Chris,Wood,60.000000,51.968704,16,44.944404,50.212629
7,Danny,Welbeck,52.600000,47.529326,5,31.140598,43.432144
19,Odsonne,Edouard,60.000000,46.368867,11,30.459500,42.391526
17,Michail,Antonio,37.371505,41.172504,19,29.419494,38.234251
3,Cameron,Archer,36.100000,34.763512,17,30.736854,33.756848
10,Emmanuel,Dennis,42.900000,42.291223,16,0.346490,31.805039
14,Iliman,Ndiaye,38.500000,39.777672,8,0.346490,29.919876
20,Ollie,Watkins,0.000000,12.565625,2,78.158089,28.963741
8,Dominic,Calvert-Lewin,0.000000,19.588070,8,38.294418,24.264657
11,Enes,Ünal,31.500000,26.596217,3,14.495692,23.571086
1,Armando,Broja,0.000000,24.333811,8,13.097601,21.524758
6,Danny,Ings,40.100000,23.909086,19,14.065651,21.448227
25,William,Osula,0.000000,24.043721,15,9.517496,20.412165
2,Callum,Wilson,0.000000,14.342310,15,25.695399,17.180583
22,Raúl,Jiménez,32.400000,7.587631,9,26.993203,12.439024
9,Eddie,Nketiah,35.200000,7.696827,7,25.889358,12.244959
16,Jhon,Durán,0.000000,9.573656,2,18.416816,11.784446
24,Taiwo,Awoniyi,0.000000,6.524390,16,25.303259,11.219107
13,Evan,Ferguson,0.000000,1.909590,5,25.930342,7.914778
23,Saša,Kalajdžić,0.000000,1.734099,20,8.244100,3.361599

In [8]:
y_true = forwards['So_5_Scores_9'].to_numpy() 
y_pred = forwards['Weighted_BOR3_Score'].to_numpy()

# Calculate r2
rmse = np.sqrt(mean_squared_error(y_true, y_pred))
print(f'MSE: {mean_squared_error(y_true, y_pred)}')
print(f'RMSE: {rmse}')
r2 = r2_score(y_true, y_pred)
print(f'r2: {r2}')

MSE: 270.3022749188533
RMSE: 16.44087208510708
r2: 0.7258399913749325