# Creating a ranking of goalies from the three models, expected_end_cost, expected_total_points, model_goalie_score

In [47]:
import pandas as pd
import numpy as np
import requests
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.linear_model import LinearRegression
from matplotlib import pyplot as plt
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler

In [48]:
#Import goalie-specific, model ready csv that alrerady has the Saves_percentages and expected total points from the earlier 2 models - this is the master.

final_prediction_df_master = pd.read_csv("C:/Users/Daniel Quinn/Desktop/Bootcamp/Project_2/data/processed/final_prediction_df_master.csv")
#Ensure we can read the whole dataframe, without "..."
pd.set_option("display.max_rows", None)

final_prediction_df_master.columns

Index(['Unnamed: 0', 'id', 'first_name', 'second_name', 'team', 'element_type',
       'code', 'element_code', 'season', 'minutes', 'goals_scored', 'assists',
       'clean_sheets', 'goals_conceded', 'own_goals', 'penalties_saved',
       'penalties_missed', 'yellow_cards', 'red_cards', 'saves', 'bonus',
       'bps', 'influence', 'creativity', 'threat', 'ict_index', 'starts',
       'expected_goals', 'expected_assists', 'expected_goal_involvements',
       'expected_goals_conceded', 'Saves_Percentage', 'start_cost', 'end_cost',
       'Predicted_End_Cost', 'total_points', 'Predicted_Total_Points',
       'Goalie_Score', 'Predicted_Goalie_Score', 'Composite Score',
       'Final_Point_Ranking'],
      dtype='object')

In [50]:
#Import team name csv & merge so we have team name

team_name_list_and_id = pd.read_csv("C:/Users/Daniel Quinn/Desktop/Bootcamp/Project_2/data/processed/team_name_list_and_id.csv")
clean_team_name = team_name_list_and_id[['id', 'name', 'short_name']]
clean_team_name_2 = clean_team_name.rename(columns=
                                           {'id': 'team', 'name': 'team_name'})
clean_team_name_2 = clean_team_name_2[['team', 'team_name']]
clean_team_name_2

final_ranking = pd.merge(clean_team_name_2, final_prediction_df_master, on="team", how="inner")
final_ranking_dropna = final_ranking.dropna()
final_ranking_dropna.drop(columns=['Unnamed: 0'])
final_goalie_rank = final_ranking_dropna.sort_values('Final_Point_Ranking', ascending=False)
final_goalie_rank.columns

final_goalie_rank = final_goalie_rank[
    ['id', 'first_name', 'second_name',
       'element_type', 'code', 'element_code', 'Saves_Percentage', 'Predicted_End_Cost',
       'Predicted_Total_Points', 'Goalie_Score',
       'Predicted_Goalie_Score', 'Composite Score', 'Final_Point_Ranking']]

final_goalie_rank

,id,first_name,second_name,element_type,code,element_code,Saves_Percentage,Predicted_End_Cost,Predicted_Total_Points,Goalie_Score,Predicted_Goalie_Score,Composite Score,Final_Point_Ranking
105,383,André,Onana,1,202641,202641,71.980676,49.242,133.922,129.709179,128.524589,311.688589,311.688589
81,310,Alisson,Ramses Becker,1,116535,116535,73.451327,53.048,106.334,98.498230,97.583492,256.965492,306.728291
180,554,José,Malheiro de Sá,1,149065,149065,69.791667,48.082,109.312,111.387500,111.538895,268.932895,294.709926
119,413,Nick,Pope,1,98747,98747,72.881356,49.888,58.060,63.188136,62.894259,170.842259,290.391385
97,347,Ederson,Santana de Moraes,1,121160,121160,67.857143,54.652,124.784,78.714286,80.866004,260.302004,287.885394
2,15,David,Raya Martin,1,154561,154561,66.197183,54.892,135.108,66.263380,65.995358,255.995358,274.716985
151,508,Guglielmo,Vicario,1,184254,184254,64.327485,50.906,118.964,102.538012,104.036279,273.906279,273.906279
25,91,Mark,Flekken,1,118342,118342,64.606742,47.252,120.672,100.269663,101.018287,268.942287,268.942287
51,235,Jordan,Pickford,1,111234,111234,70.348837,50.334,157.568,120.507558,122.490993,330.392993,256.188263
70,248,Bernd,Leno,1,80201,80201,68.717949,48.616,137.162,116.614359,116.866484,302.644484,248.702722
132,14,Aaron,Ramsdale,1,225321,225321,64.285714,40.478,20.862,33.621429,34.719252,96.059252,244.059562
4,73,Norberto,Murara Neto,1,69752,69752,67.455621,46.408,110.714,99.497041,98.600269,255.722269,242.285536
172,522,Wes,Foderingham,1,82143,82143,62.735849,42.876,98.948,93.288208,97.594208,239.418208,239.418208
35,185,Robert,Sánchez,1,215059,215059,68.354430,44.152,58.064,66.440506,66.406853,168.622853,214.845195
11,47,Emiliano,Martínez Romero,1,98980,98980,66.433566,50.784,116.510,101.776224,103.922724,271.216724,214.467943
39,201,Dean,Henderson,1,172649,172649,65.909091,44.424,50.466,59.120455,59.255992,154.145992,202.973844
112,396,Martin,Dúbravka,1,67089,67089,67.938931,43.088,75.638,76.906870,76.526009,195.252009,198.744872
175,204,Sam,Johnstone,1,101982,101982,60.294118,43.476,66.044,49.561765,49.372740,158.892740,197.834225
133,454,Gavin,Bazunu,1,456350,456350,55.555556,44.572,89.902,61.777778,62.178463,196.652463,196.652463
104,374,Tom,Heaton,1,21205,21205,65.686275,43.924,61.662,63.518627,64.043584,169.629584,196.389947
31,183,Đorđe,Petrović,1,457569,457569,66.371681,44.266,77.198,72.212389,73.213895,194.677895,194.677895
24,152,Kepa,Arrizabalaga,1,109745,109745,73.387097,49.000,115.328,97.825000,96.278875,260.606875,194.338084
29,146,Bart,Verbruggen,1,489639,489639,69.892473,44.728,73.990,73.596774,74.344647,193.062647,193.062647
171,521,Łukasz,Fabiański,1,37096,37096,61.111111,41.128,27.098,41.311111,41.705736,109.931736,191.057317
155,513,Alphonse,Areola,1,84182,84182,72.538860,43.524,112.442,112.725389,112.288191,268.254191,173.688973
71,568,Arijanet,Muric,1,232917,232917,80.246914,43.172,43.572,88.512346,86.866998,173.610998,173.610998
90,344,Scott,Carson,1,17601,17601,50.000000,39.360,5.466,21.850000,21.820827,66.646827,161.714927
150,488,Fraser,Forster,1,40383,40383,57.894737,41.056,42.294,38.731579,37.726998,121.076998,159.765607
64,624,Asmir,Begovic,1,40349,40349,100.000000,38.554,7.996,43.600000,43.312210,89.862210,148.848078
142,469,Alex,McCarthy,1,58376,58376,45.161290,41.146,21.948,24.206452,26.177491,89.271491,145.587870
41,445,Matt,Turner,1,224068,224068,66.265060,41.812,43.334,49.632530,47.964836,133.110836,133.110836
126,414,John,Ruddy,1,19236,19236,57.142857,39.668,2.784,26.514286,27.362073,69.814073,129.987680
127,443,Matz,Sels,1,85633,85633,57.812500,43.180,37.798,44.110937,44.691803,125.669803,125.669803
28,142,Jason,Steele,1,49262,49262,55.844156,41.134,44.786,46.462338,46.229462,132.149462,120.563079
75,308,Danny,Ward,1,95463,95463,62.903226,40.340,91.554,71.080645,71.053171,202.947171,118.045458
72,294,Daniel,Iversen,1,207270,207270,63.333333,39.558,33.678,43.446667,44.382446,117.618446,117.618446
99,358,Stefan,Ortega Moreno,1,88248,88248,74.074074,37.614,21.906,40.962963,41.232335,100.752335,104.115889
30,155,Marcus,Bettinelli,1,122074,122074,51.219512,43.506,23.720,31.448780,32.144432,99.370432,99.370432
85,325,Caoimhin,Kelleher,1,200720,200720,71.794872,38.222,35.172,47.384615,47.615823,121.009823,92.445130
113,412,Odysseas,Vlachodimos,1,111452,111452,45.454545,40.512,21.004,25.545455,28.948933,90.464933,90.464933
19,84,Mark,Travers,1,229600,229600,72.222222,39.246,18.424,37.050000,37.341250,95.011250,88.173307
15,51,Robin,Olsen,1,111782,111782,62.857143,39.250,21.948,38.657143,40.004689,101.202689,87.727534
42,227,João,Neves Virgínia,1,222627,222627,100.000000,41.180,1.772,45.500000,44.621190,87.573190,87.573190
177,536,Daniel,Bentley,1,79602,79602,53.333333,40.190,16.078,25.120000,24.671512,80.939512,82.311085
40,209,Remi,Matthews,1,169593,169593,0.000000,40.062,2.066,0.000000,-0.578457,41.549543,41.549543